
.ctg-but {
  margin-top: 5px;
  margin-left: -50px;
}
.ctg-btn {
  background-color: rgb(22, 22, 121);
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/